:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-grayish-blue);
  min-height: 100vh;
}
h1 {
  color: var(--dark-grayish-blue);
}
main {
  display: flex;
  align-self: center;
  max-width: 50%;
}
.left {
  flex: 1;
}
.right {
  background-color: white;
  flex: 2;
}
.left img {
  width: 100%;
}
